# Build output
/.stack-work
/dist
/dist-newstyle
/package/*.deb

# Cabal sandbox
/.cabal-sandbox
/cabal.sandbox.config

# Editor files
*.swp
*.swo
*.autosave
*~
/.idea
/.vscode
/TAGS
/tags

# Vagrant files
/package/.vagrant
/package/*-console.log

# Configuration file
/config.json

# Hoff state
/run

# Temporary file of send-webhook
webhook-data.json

# Test output
.hspec-failures

# Nix build result
result

# Direnv
.direnv/
