# Based on the default default .travis.yml for usage with Stack.
# See https://docs.haskellstack.org/en/stable/travis_ci/.

language: c

# Do not build other branches than these, pull requests get built anyway, and in
# the end it is only the result of the testing branch that matters. In theory
# the commits that get pushed to master should have been built in testing
# already, but sometimes I still push manually, and of course the evergreen
# build status badge needs to come from somewhere.
branches:
  only:
    - master
    - testing

notifications:
  email: false

cache:
  directories:
    - $HOME/.stack/

addons:
  apt:
    packages:
      - libgmp-dev

before_install:
  - mkdir -p ~/.local/bin
  - export PATH=$HOME/.local/bin:$PATH
  - travis_retry curl -L https://www.stackage.org/stack/linux-x86_64 | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'
  # Upgrade to the latest version of Stack, which has `list-dependencies --license`.
  # Once that makes it into stable, this is no longer required.
  - stack upgrade --git --install-ghc --no-terminal

install:
  - stack setup --no-terminal

script:
  - stack build -j2 --no-terminal
  - stack test -j2 --no-terminal

  # Match the licenses of dependencies agains a whitelist, and fail if anything
  # is not whitelisted. YAML has this arcane feature where an exclamation mark
  # has special meaning, so the entire command is wrapped in single quotes.
  # TODO: Enable this once Stack supports it.
  # See https://github.com/commercialhaskell/stack/pull/2576.
  # - '! stack list-dependencies --license --no-include-base | egrep -v "BSD3|MIT|ghc-prim|hoff|integer-gmp|template-haskell"'

  # As CI is running on a Debian-like system, test building
  # the package here too.
  - cd package && VERSION=0.0.0 ./build-package.sh
