[Unit]
Description=commit gatekeeper daemon
After=networking.service
Requires=networking.service
AssertPathExists=/etc/hoff/config.json

[Service]
RootImage=/home/ruud/repos/hoff/hoff.img
MountAPIVFS=true

# Make systemd allocate a user on the fly, so we don't have to create
# one as part of an installation procedure.
User=hoff
Group=hoff
DynamicUser=true

# Allow binding to priviliged ports (e.g. 80 and 443) as non-root user.
AmbientCapabilities=CAP_NET_BIND_SERVICE

# Bind-mount /etc/hoff from the host (for config), /var/lib/hoff (for persisting
# state) and /var/cache/hoff (for managing checkouts). We don't use
# ProtectSystem or ProtectHome because the squashfs root filesystem is already
# read-only.
StateDirectory=hoff
CacheDirectory=hoff
ConfigurationDirectory=hoff

PrivateTmp=true
PrivateDevices=true
PrivateUsers=true
ProtectKernelTunables=true
ProtectKernelModules=true
MemoryDenyWriteExecute=true

ExecStart=/usr/bin/hoff /etc/hoff.json
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
