[Unit]
Description=commit gatekeeper daemon
After=networking.service
Requires=networking.service
AssertPathExists=/etc/hoff.json

[Service]
ExecStart=/usr/bin/hoff /etc/hoff.json
# TODO: Set a good working directory where the state is saved.
WorkingDirectory=/tmp
User=git
Restart=on-failure
RestartSec=10
# Make /etc, /usr, and /boot read-only to the process.
ProtectSystem=full
# TODO: Consider using ProtectHome?
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
